body{
    background-color:rgb(56, 231, 56);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu' , sans-serif;
    height: 100px;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.brand img{
    width: 43px;
    padding: 0px 5px;
    /* height: 65px; */
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    color: rgb(56, 231, 56);
}
nav ul li{
    padding: 0px 12px;
}
.container{
    min-height: 80vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round' , sans-serif;
    display: flex;
    margin: 20px auto;
    width: 79%;
    border-radius: 14px;
    padding: 30px;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color:white;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;padding: 15px;
}
#myProgressBar{
    width: 80vw;
    /* text-align: center; */
    cursor: pointer;
}
.bottom i{
    padding: 25px 20px;
}
.icons{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}
.songitem{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* width: 90%; */
    color: black;
    /* margin: 12px 0px; */
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
}
.songitem img{
    width: 15%;
    height: 80%;
    margin: 12px;
    border-radius: 34px;
}
.Hua{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* width: 90%; */
    color: black;
    margin: 12px 0px;
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
}
.wajah{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* width: 90%; */
    color: black;
    margin: 12px 0px;
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
}
.main{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* width: 90%; */
    color: black;
    margin: 12px 0px;
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
}
.chale{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* width: 90%; */
    color: black;
    margin: 12px 0px;
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
}
.Hua img{
    width: 15%;/*30*/
    height: 80%;/*93*/
    margin: 12px;
    border-radius: 34px;
}
.chale img{
    width: 15%;/*30%*/
    height: 80%;/*93%*/
    margin: 12px;
    border-radius: 34px;
}
.main img{
    width: 15%;/*35*/
    height: 80%;/*91*/
    margin: 12px;
    border-radius: 34px;
}
.wajah img{
    width: 15%;/*30*/
    height: 80%;/*93*/
    margin: 12px;
    border-radius: 34px;
}
.timestamp{
    /* margin: 0px 23px; */
}
.songInfo{
    position: absolute;
    left: 0px;
    font-family: 'Varela Round' , sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opasity 0.4s ease-in;
}
#gif{
    width: 50%;
    height: 80%;
}
#gif p{
    font-weight: 400;
    color: white;
    padding: 19px;
}